#pastas
/.idea
/build
/dist
/__pycache__

#spec
*.spec

#arquivos
/clientes.db

#ambiente de desenvolvimento
/dev_venv

# Padrao
/shelf/
/workspace.xml/

# Client Request
/httpRequests/

# DataSources
/dataSources/
/dataSources.local.xml
