#pastas
.idea/
build/
dist/
script/__pycache__

#arquivos
ap.spec
app.spec
clientes.db

#ambiente de desenvolvimento
dev_venv/

# Padrao
/shelf/
/workspace.xml

# Client Request
/httpRequests/

# DataSources
/dataSources/
/dataSources.local.xml
